h2{
    text-align: center;
    text-transform: uppercase;
    color: #FFCC00 ;
}
h5{
    text-align: center;
    text-transform: uppercase;
    color: #FFCC00 ;
}

h3{
    margin-top: 15px;
    text-align: center;
    color:  #FFCC00;
}

p{
    
}
.info-text {
    border: 1px solid gray;
    padding: 8px;
}
.info-text p{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}
.change-color-img img{
    filter: sepia(80%);
}
.info__text-blue p{
    margin-top: 29px;
    text-align: center;
    color: #FFCC00 ;
    font-size: 17px;
}


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}
