
.button-chitiet-trailer{
    position: relative;
    margin-bottom: 35px;
}
.button-chitiet-trailer a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #de0611;
    color: #fff;
    padding: 9px 10px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border: 0.1rem solid rgba(0, 0, 0, 0.7);
}
.button-chitiet-trailer a:nth-child(2){
    background-color: #000;
}
.button-chitiet-trailer a:hover:nth-child(2){
    background-color: #de0611;
}
.button-chitiet-trailer a:hover:nth-child(1){
    background-color: #000;
}
/* .play{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-block;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor: pointer;
} */
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.trailer .active{
    visibility: visible;
    opacity: 1;
}
.trailer video{
    max-width: 900px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border: 0.1rem solid rgba(0, 0, 0, 0.7);
}
.close{
    position: absolute;
    top: 70px;
    right: 70px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
}





/* css for  */
.menu__movie-genre ul {
    /*list-style-type: none;
    text-align: center;*/

    margin: 5px 15px 15px;
    padding: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu__movie-genre li {
    /*color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;*/
    list-style: none;
    
    color: white;
    margin: 10px 0 0 0px;
    padding: 0 0 0 20px;
    font-size: 16px;
    line-height: normal;
    display: flex;
    float: left;
    align-items: center;
    position: relative;
}
.menu__movie-genre a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border-radius: 10px;
    color: white;
    background: #B22222;
    padding: 2px 8px;
}

.list-group-item.slider {
  color: white; 
  font-size: 20px;
}




/*css for column card page nowshoing-comingsoon*/
.card {
  
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.4);
    padding: 10px;
    transition: background-color .3s, color .3s;
  }
  .card__img {
    overflow: hidden;
    
   
  }
  .card__img img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    transition: scale .3s;
    width: 100%;
    vertical-align: bottom;
    
  }
  .card__title {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .card__text {
    margin-top: 15px;
  }
  .card__meta {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .card:hover {
    background-color: #FFCC00;
    color: #fff;
  }
  .card:hover img {
    scale: 1.4;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .cards__item {
    width: calc(100% / 3 - 60px / 3);
    border-radius: 10px 10px 10px 10px;
  }
  .cards__item:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }
  .cards__item:nth-child(n+4){
    margin-top: 50px;
  }
  
  /* CSS */
  .all-item {
    box-sizing: border-box;
  }
  
  .cards__item a {
    text-decoration: none;
    color: inherit;
  }
  
  
  
  
  /* css for footer item*/
  .event-card__nav {
    margin-top: 1rem;
    /*   display: flex; */
    /*  justify-content: space-evenly; */
    /*  align-items: center; */
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
  }
  
  .event-card__details {
    border-radius: 0% 0% 0% 5vw;
    border-radius: 0% 0% 0% var(--event-card-radius);
    float: left;
    width: 50%;
    color: #fff;
    background-color: #666;
    text-decoration: none;
  }
  .event-card__details:hover {
    background-color: #fff;
    color: #000;
  }
  
  .event-card__tickets {
    border-radius: 0% 0% 5vw 0%;
    border-radius: 0% 0% var(--event-card-radius) 0%;
    float: right;
    width: 50%;
    color: #fff;
    /* If the linear gradient is not available in a browser, this will give it a dark background color instead of just displaying on a */
    background-color: #B22222;
    background: -webkit-linear-gradient(to right, #87ceeb, #4682b4);
    text-decoration: none;
  }
  .event-card__tickets:hover {
    background-color: #fff;
    color: #000;
  }


  /* css for info actor and directors page */


  




