
  .picZoomer {
    position: relative;
    /*margin-left: 40px;
      padding: 15px;*/
  }
  .picZoomer-pic-wp {
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .picZoomer-pic-wp:hover .picZoomer-cursor {
    display: block;
  }
  .picZoomer-zoom-pic {
    position: absolute;
    top: 0;
    left: 0;
  }
  .picZoomer-pic {
    /*width: 100%;
      height: 100%;*/
  }
  .picZoomer-zoom-wp {
    display: none;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    border: 1px solid #eee;
    height: 460px;
    margin-top: -19px;
  }
  .picZoomer-cursor {
    display: none;
    cursor: crosshair;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .picZoomCursor-ico {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 40px;
    left: 40px;
    background: url(images/zoom-ico.png) left top no-repeat;
  }
  
  .my_img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
  }
  .piclist li {
    display: inline-block;
    width: 90px;
    height: 114px;
    border: 1px solid #eee;
  }
  .piclist li img {
    width: 97%;
    height: auto;
  }
  
  /* custom style */
  .picZoomer-pic-wp,
  .picZoomer-zoom-wp {
    border: 1px solid #eee;
  }
  
  .section-bg {
    background-color: #fff1e0;
  }
  section {
    padding: 60px 0;
  }
  .row-sm .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  /*===pic-Zoom===*/
  ._boxzoom .zoom-thumb {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
  }
  ._boxzoom .zoom-thumb ul.piclist {
    padding-left: 0px;
    top: 0px;
  }
  ._boxzoom ._product-images {
    width: 80%;
    display: inline-block;
  }
  ._boxzoom ._product-images .picZoomer {
    width: 100%;
  }
  ._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
    left: 0px;
  }
  ._boxzoom ._product-images .picZoomer img.my_img {
    width: 100%;
  }
  .piclist li img {
    height: 100px;
    object-fit: cover;
  }
  
  /*======products-details=====*/
  ._product-detail-content {
    background: #fff;
    padding: 15px;
    border: 1px solid lightgray;
  }
  ._product-detail-content p._p-name {
    color: #31404B;
    font-size: 30px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
  }
  .p-list span {
    margin-right: 15px;
  }
  .p-list span.price {
    font-size: 25px;
    color: #318234;
  }
  ._p-qty > span {
    color: black;
    margin-right: 15px;
    font-weight: 500;
  }
  ._p-qty .value-button {
    display: inline-flex;
    border: 0px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #fd7f34;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
  }
  
  ._p-qty .value-button {
    border: 0px solid #fe0000;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
  }
  ._p-qty input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #fe0000;
    border-bottom: 1px solid #fe0000;
    margin: 0px;
    width: 50px;
    height: 35px;
    font-size: 14px;
    box-sizing: border-box;
  }
  ._p-add-cart {
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .p-list {
    margin-bottom: 10px;
  }
  ._p-features > span {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }
  ._p-add-cart .buy-btn {
    background-color: #fd7f34;
    color: #fff;
  }
  ._p-add-cart .btn {
    text-transform: capitalize;
    padding: 6px 20px;
    /* width: 200px; */
    border-radius: 52px;
  }
  ._p-add-cart .btn {
    margin: 0px 8px;
  }

  .movie-castcrew {
    padding-top: 12px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .movie-castcrew span.title {
    font-family: 'Open Sans';
    margin-left: 5px;
    color: #fd9393 !important;
    display: inline-block;
    font-weight: 600;
    font-style: italic;
}
 /* css for tabs */

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: #efedef;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs .tab-2 {
  width: 50%;
}
.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}
.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}
.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}

 /* css for reviews list  */
.heading {
  font-size: 20px;
  color: #fd7f34;
  margin: 70px 35px 50px 35px;
}
.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* css for rating  */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.text__content-moviedetail {
  color: #9ACD32;
}