{% extends "pages/base.html" %}
{% load static %}
{% block title %} About Us {%endblock title %} 
{% block cssblock %}
<link href="{% static 'pages/css/about.css' %}" rel="stylesheet" />

{% endblock %}
{% block content %}
<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col"> 
              
                <h2 class="title-about">Chúng tôi là DS Cinema (rạp phim DS)</h2>
                <div class="info-text">
                    <p>
                        Là một trong những cụm rạp chiếu phim và là nhà phát hành, cụm rạp chiếu phim lớn nhất Việt Nam. Mục tiêu của chúng tôi là trở thành hình mẫu công ty điển hình đóng góp cho sự phát triển không ngừng của ngành công nghiệp điện ảnh Việt Nam.
                    </p>
                    <p>
                        DS Cinema Việt Nam sẽ tiếp tục cuộc hành trình bền bỉ trong việc góp phần xây dựng một nền công nghiệp điện ảnh Việt Nam ngày càng vững mạnh hơn cùng các khách hàng tiềm năng, các nhà làm phim, các đối tác kinh doanh uy tín, và cùng toàn thể xã hội.
                    </p>
                    <p>Hiện chúng tôi đã có các chi nhánh:</p>
                     <span><p style="font-weight:bold">rap cgv 1</span>
                     <span><p style="font-weight:bold">rap cgv 2</span>
                     <span><p style="font-weight:bold">rap cgv 3</span>
                                          
                </div>                    
            </div>
            <div class="col">
                <img src="{% static 'pages/img/about-1.png' %}" alt="about" style="width: fit-content; height: 400px;">
            </div>
        </div>

        <div class="row" style="margin-top: 40px">
            <div class="col">
                <div class="info-text">
                    <h5 class="title-about">Sự phát triển của DS Cinema</h5>
                    <p>Được thành lập từ năm 2023 cho đến nay DS CINEMA sẽ tiếp tục cuộc hành trình bền bỉ trong việc góp phần xây dựng một nền công nghiệp điện ảnh Việt Nam ngày càng vững mạnh hơn cùng các khách hàng tiềm năng, các nhà làm phim, các đối tác kinh doanh uy tín, và cùng toàn thể xã hội.</p>
                </div>                
            </div>
            <div class="row-rate">
                <div class="column-rate">
                    <div class="card-rate">
                    <p><i class="fa fa-user fa-rate"></i></p>
                    <h3 class="partner-about">11+</h3>
                    <p>Đối tác</p>
                    </div>
                </div>

                <div class="column-rate">
                    <div class="card-rate">
                    <p><i class="fa fa-check fa-rate"></i></p>
                    <h3>55+</h3>
                    <p>Cụm</p>
                    </div>
                </div>
                
                <div class="column-rate">
                    <div class="card-rate">
                    <p><i class="fa fa-user fa-rate"></i></p>
                    <h3>100+</h3>
                    <p>Vùng và thành phố</p>
                    </div>
                </div>
                
                <div class="column-rate">
                    <div class="card-rate">
                    <p><i class="fa fa-desktop fa-rate"></i></p>
                    <h3>100+</h3>
                    <p>Màn chiếu mỗi cụm</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="responsive">
                <div class="gallery">                    
                    <img src="{% static 'pages/img/about-2.jpg' %}" alt="" width="400" height="400">
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>


            <div class="responsive">
                <div class="gallery">
                    <img src="{% static 'pages/img/about-3.jpg' %}" alt="" width="400" height="400">
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="{% static 'pages/img/about-4.jpg' %}" alt="" width="400" height="400">
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="{% static 'pages/img/about-5.jpg' %}" alt="" width="280" height="400">
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock content %}




