{% extends "pages/base.html" %}
{% load static %}
{% block title %} Chi tiết phim {%endblock title %} 
{% block cssblock %}

<link href="{% static 'pages/css/movie_detail.css' %}" rel="stylesheet" />

{% endblock %}
{% block content %}
<div class="container-fluid mt-5 pt-3">
    <div class="container">

        <section id="services" class="services section-bg">
            <div class="container-fluid">
                {% comment %} <div class="col-sm-12 text-center mb-4">
                <a class="btn btn-primary" target="_blank" href=""> Donate Now <i class="fa fa-dollar"></i></a>
                </div> {% endcomment %}
                <div class="row row-sm">
                <div class="col-md-4 _boxzoom">
                    <div class="_product-images">
                    <div class="picZoomer">
                        <img class="my_img" src="{{movie.image.url}}" alt="{{movie.movie_name}}">
                    </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="_product-detail-content">
                    <p class="_p-name"> {{movie.movie_name}} </p>
                    <div class="_p-price-box">
                        <div class="p-list" style="align-items: flex-start; flex-direction: column;">
                          <div class="movie-castcrew">
                            <span class="title"> Ngày công chiếu:</span>
                            <span class="name"> {{movie.release_date| date:'d-m-Y'}} </span>
                          </div>
                          <div class="movie-castcrew">
                            <span class="title">Thời lượng phim: </span>
                            <span> {{movie.time_of_movie}} phút </span>
                          </div>
                          <div class="movie-castcrew">
                            <span class="title">Đạo Diễn: </span>
                            <span><a href="{% url 'directors_detail' dicrectors.id %}" class="text__content-moviedetail"> {{ dicrectors.directors_name }}</a></span>
                          </div>
                          <div class="movie-castcrew">
                            <span class="title">Diễn Viên: </span>
                            {% if actors %}
                              {% for actor in actors %}
                                <span>
                                  <a href="{% url 'actor_detail' actor.id %}" class="text__content-moviedetail"> {{ actor.actor.actor_name }}</a>,
                                </span>
                            {% endfor %}
                            {% else %}
                              <span>
                                Chưa có diễn viên
                              </span>
                            {% endif %}                                      
                          </div>
                          <div class="movie-castcrew">
                            <span class="title">Thể Loại: </span>
                            {% for genre in genres %}
                              <span>
                                {% if movie.is_showing == 1 %}
                                  <a href="{% url 'nowshowing' genre.id %}" class="text__content-moviedetail"> {{ genre.genre_name }}</a>,
                                {% else %}
                                  <a href="{% url 'comingsoon' genre.id %}" class="text__content-moviedetail"> {{ genre.genre_name }}</a>,
                                {% endif %}
                              </span>
                            {% endfor %}    
                          </div>
                          <div class="movie-castcrew">
                            <span class="title">Ngôn Ngữ: </span>  
                            <span>{{movie.language}}</span> 
                          </div>
                          <div class="movie-castcrew">
                            <span class="title">Đánh giá: </span>   
                            <span> {{avg_rate}} / 5 <i class="fa fa-star checked"></i></span>
                          </div>                                                                                                     
                        </div>
                        <ul class="spe_ul"></ul>
                        <div class="_p-qty-and-cart">
                            <div class="_p-add-cart">
                            <a class="btn-theme btn buy-btn" tabindex="0">
                                Xem Trailer
                            </a>
                            <a href="" class="btn-theme btn btn-success" tabindex="0">
                                Mua Vé
                            </a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div>
                  <div class="tabs">
                    <div class="tab-2">
                        <label for="tab2-1"><h5>Nội dung phim</h5></label>                        
                        <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
                        <div>
                            <h6>Tóm tắt</h6>
                            <p>{{movie.content}}</p>
                        </div>
                    </div>
                    <div class="tab-2">
                        <label for="tab2-2"><h5>Đánh giá <span>({{reviews.all.count}})</span></h5></label>                        
                        <input id="tab2-2" name="tabs-two" type="radio">
                        <div>
                            <h5>Đánh giá về phim</h5>
                            {% if reviews %}
                              {% for review in reviews %}
                              <div>
                                <div><span>{{review.created_at|date:'d-m-Y'}}</span></div>
                                <div>
                                  <span class="heading">{{review.user.username}}</span>
                                  {% for i in qty_star %}
                                    {% if i <= review.rate %}
                                      <span class="fa fa-star checked"></span>
                                      {% else %}
                                        <span class="fa fa-star"></span>
                                    {% endif %}                                    
                                  {% endfor %}
                                  <p style="margin-left:35px">{{review.review}}</p>
                                  <hr style="border:1.5px solid #808080">                              
                                </div>
                              </div>
                            {% endfor %}
                            {% else %}
                              <p>Chưa có bình luận nào về phim</p>
                            {% endif %}                      
                            <div>
                              {% if messages %}
                                {% for message in messages  %}
                                  <div class="alert alert-{{ message.tags }} role="alert">
                                    {{ message }}
                                  </div>
                                {% endfor %}
                              {% endif %}
                            </div>                            
                              <label for="rate" style="float: left; "><h6>Đánh giá:</h6></label>
                              <form class="form-row" action="{% url 'addreview' movie.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                  <div class="rate" style="margin-bottom:40px;">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                  </div>
                                </div>
                                <br />
                                <div class="form-group">
                                  <textarea name="review" class="form-control" rows="5" cols="100" placeholder="Nhập bình luận ..."></textarea>
                                </div>
                                <br />
                                {% if user.is_authenticated %}
                                  <button style="margin-left: 10px" class="btn btn-primary font-weight-semi-bold px-4" >Gửi</button>
                                  {% else %}
                                    <p>Bạn cần phải <a href="{% url 'login' %}">đăng nhập</a> để đánh giá về phim </p>
                                {% endif %}
                              </form>                                    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>                 
                  
                </div>

            </div>
            </section>



    </div>
</div>
{% endblock content %}
{% block jsblock %}
    <script src="{% static 'pages/js/zoom_img.js' %}"></script>
{% endblock jsblock %}