{% extends "pages/base.html" %}
{% load static %}
{% block title %} Phim Đang Chiếu {%endblock title %} 
{% block cssblock %}

<link href="{% static 'pages/css/movie.css' %}" rel="stylesheet" />
<link href="{% static 'pages/css/pagination.css' %}" rel="stylesheet" />

{% endblock %}
{% block content %}
<div class="container-fluid mt-5 pt-3">
  <div class="container">
      
    <div class="row">
      <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="overflow: auto;width: 170px; background-color: #6c757d">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Thể loại phim</a>
            {% for item in movie_genre %}
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{item.movie_genre_name}}</a>          
            {% endfor %}
          </div>
      </div>
      <div class="col-10">
        <div class="products__cards cards">
          {% for item in page_obj %}
          <div class="cards__item card">
            <a href="https://codepen.io/hrshishym/pen/yLEjqEJ">
              <div class="card__img">
                <img src="{{item.image.url}}" alt="{{item.movie_name}}" style="height:400px;">
              </div>
            </a>              
              <h3 class="card__title">{{item.movie_name|truncatewords:18}}</h3>
              <div class="event-card__nav">
                  <a href="{% url 'moviedetail' item.id %}" class="event-card__details">Chi tiết</a>                
                 <a href="#" class="event-card__tickets">Mua vé</a> 
              </div>            
          </div>          
          {% endfor %}          
        </div>
          
      </div>
    </div>

    <!-- pagination -->
      <div class="container-pagination">          
        <div class="pagination">        
          <ul class="crumbs">          
            {% if page_obj.has_previous %}
              <li><a class="crumb crumb__prev" href="?page=1">&laquo;First</a></li>
              <li><a class="crumb crumb__prev" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>            
            {% endif %}            
            {% for page_number in page_obj.paginator.page_range %}
                <li><a class="crumb" href="?page={{page_number}}">{{page_number}}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a class="crumb crumb__next" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              <li><a class="crumb crumb__next" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>       
            {% endif %}           
          </ul>
        </div>
      </div>
      {% comment %} <span style="text-align:center; background-color: #1d1f20;">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span> {% endcomment %}
    <!-- end pagination -->

  </div>
</div>
{% endblock content %}
{% block jsblock %}

{% endblock jsblock %}