
<!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Trang chủ</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Phim</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{% url 'nowshowing' %}" class="dropdown-item">Đang chiếu</a>
                            <a href="{% url 'comingsoon' %}" class="dropdown-item">Sắp chiếu</a>
                        </div>
                    </div> 

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Thông tin</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{% url 'about' %}" class="dropdown-item">Về chúng tôi</a>                    
                            <a href="#" class="dropdown-item">Đạo diễn</a>
                            <a href="#" class="dropdown-item">Diễn viên</a>
                        </div>
                    </div>

                    <a href="{% url 'news' %}" class="nav-item nav-link">Sự kiên</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Liên hệ</a>

                    {% if request.user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{request.user.username}}</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="#" class="dropdown-item">Tài khoản</a>
                                <a href="{% url 'logout' %}" class="dropdown-item">Đăng xuất</a>
                            </div>
                        </div>                    
                    {% else %}
                        <a href="{% url 'login' %}" class="nav-item nav-link">Đăng nhập</a>
                    {% endif %}


                </div>
                <form action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group ml-auto d-none d-lg-flex" style="width: 500px; ">                        
                        <input type="text" class="form-control border-0" placeholder="Nhập tên phim ..." name="search">
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text bg-primary text-dark border-0 px-3"><i
                                    class="fa fa-search"></i></button>
                            </div>                                              
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->